<div class = 'container'>
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <h1 class='text-center'>Contacts List</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <label for="Search">Search</label>
        <input type='text' placeholder = 'Search' ng-model='searchText' class='form-control'>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2"> 
      <table ng-show = 'lines' class ="table table-hover">
        <tr>
          <td>First</td>
          <td>Last</td>
          <td>Number</td>
        </tr>
        <tr ng-repeat='line in lines | filter:searchText track by line._id' ng-click='setUser(line)'>
          <td><h4>{{ line.first }}</h4></td>
          <td><h4>{{ line.last }}</h4></td>
          <td><h4>{{ line.number }}</h4></td>
        </tr>
      </table>
    </div>
  </div>
</div>
