<% include partials/backbone_templates %>

<!DOCTYPE html>
<html ng-app='contacts'>
  <head>
    <meta charset="utf-8" />
    <title>HR-Contacts</title>
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- <link rel="stylesheet" type="text/css" href="styles/style.css" /> -->
  </head>
  <body>
    <h1>HR-Contacts</h1>
    <div ng-view></div>
    <div ng-controller = 'bookController'>
      <form name="search" ng-submit='retrieveName()'>
          <input type='text' ng-model='name'>
          <button>Search</button>
      </form>
          <h3 ng-show = 'info'>Name: {{displayName}} Number: {{ info }}</h3>
    </div>
    

    <!-- // <script src="bower_components/boostrap/dist/js/bootstrap.js"></script> -->
    <script src="/bower_components/angular/angular.js"></script>
    <!-- // <script src="bower_components/angular-route/angular-route.js"></script> -->
    <script src="/app.js"></script>
  </body>
</html>
